# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
build/
dist/

# env
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
